<svg xmlns="http://www.w3.org/2000/svg">
  <defs>
    <ng-container *ngIf="userProfiles">
      <pattern
        id="user-{{userProfile.userId}}"
        x="0"
        y="0"
        width="25"
        height="25"
        *ngFor="let userProfile of userProfiles"
      >
        <image
          [attr.href]="userProfile.profile.avatar"
          width="25"
          height="25"
        />
      </pattern>
    </ng-container>
  </defs>
  <circle
    [attr.r]="12.5"
    [attr.cx]="userInRoom.position.x"
    [attr.cy]="userInRoom.position.y"
    attr.fill="url(#user-{{getProfileIdOf(userInRoom)?.userId}})"
    *ngFor="let userInRoom of data" />
</svg>
